<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head>
    <meta charset="utf-8">
    <title>dialog demo</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
</head>
<body>
 
<button id="opener">open the dialog</button>
<div id="dialog" title="Dialog Title">
<p>test</p>
<button id="dodo">open the dialog</button>
</div>
 
<script>
$( "#dialog" ).dialog({ autoOpen: false, resizable: false, width: 500, height: 300 });
$( "#opener" ).click(function() {
    $( "#dialog" ).dialog( "open" );
});
</script>

 <%= yield %>
 
</body>
  	
  

</html>
