<div class="content">

<h3>Article List</h3>

<br/>

 <% if @tops.empty? %>

   <img src="/images/nav_t.png" width="200" height="245" alt="No Photo Available Yet!" align=""/>
 
 <% else %>
   <ul>
    <% for top in @tops %>
      <li>
      	
      	 <span class="itemname"><a href="/yiku/top/view&<%= top.id %>"><%= top.name %></a></span> 
      	<a href="/yiku/top/edit&<%= top.id %>"><label title="Edit" onmouseover="">Edit</label></a>
      	 <span class="seprator">/</span> 
      	<a href="javascript:openwin('/yiku/top/delete&<%= top.id %>')"><label title="Delete">Delete</label></a>
      	
      </li>
      
      <br/>

    <% end %>
   </ul>
   
 <% end %>
 
<br/>

</div>

<div class="label">
    <label style="padding-left: 5px">
 	<a href="/yiku/top/new">
 		<b>Add New Article</b>
 	</a>
</label>
</div>
