<div class="content">

<h3>Article List</h3>

<br/>

 <% if @bottoms.empty? %>

   <img src="/images/nav_t.png" width="200" height="245" alt="No Photo Available Yet!" align=""/>
 
 <% else %>
   <ul>
    <% for bottom in @bottoms %>
      <li>
      	
      	 <span class="itemname"><a href="/yiku/bottom/view&<%= bottom.id %>"><%= bottom.name %></a></span> 
      	<a href="/yiku/bottom/edit&<%= bottom.id %>"><label title="Edit" onmouseover="">Edit</label></a>
      	 <span class="seprator">/</span> 
      	<a href="javascript:openwin('/yiku/bottom/delete&<%= bottom.id %>')" data-confirm="Are you sure?">Delete</a>
      	
      </li>
      
      <br/>

    <% end %>
   </ul>
   
 <% end %>
 
<br/>

</div>

<div class="label">
    <label style="padding-left: 5px">
 	<a href="/yiku/bottom/new">
 		<b>Add New Article</b>
 	</a>
</label>
</div>
