<div class="content">

<h3>Article List</h3>

<br/>

 <% if @hats.empty? %>

   <img src="/images/nav_t.png" width="200" height="245" alt="No Photo Available Yet!" align=""/>
 
 <% else %>
   <ul>
    <% for hat in @hats %>
      <li>
      	
      	 <span class="itemname"><a href="/yiku/item_a/view&<%= hat.id %>"><%= hat.name %></a></span> 
      	<a href="/yiku/item_a/edit&<%= hat.id %>"><label title="Edit" onmouseover="">Edit</label></a>
      	 <span class="seprator">/</span> 
      	<a href="/yiku/item_a/delete&<%= hat.id %>"><label title="Delete">Delete</label></a>
      	
      </li>
      
      <br/>

    <% end %>
   </ul>
   
 <% end %>
 
<br/>

</div>

<div class="label">
    <label style="padding-left: 5px">
 	<a href="/yiku/item_a/new">
 		<b>Add New Article</b>
 	</a>
</label>
</div>
